<!--Used bootstrap classes for Grid system-->
<div class="book-container d-flex flex-column align-items-center py-4 col-sm-6 col-md-4 col-lg-3 zoom">
  <a class="d-flex flex-column align-items-center" href="{html_link}" target="_blank"> <!--Add target _blank so that the book will open in new tab for UX-->
    <img class="book-img" src="{cover_url}" alt="Book Cover Image"> <!--Add image alt property-->
    <div class="book-title text-white text-center">{title}</div>
  </a>

  <div class="author text-center text-white">By {author}</div>
</div>